@import url("/com/cinema/cinemamanagementsystem/style.css");

.section-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #2c3e50;
}

.muted-label {
    -fx-text-fill: #7f8c8d;
}
